.right-block
    &-list
        padding: 0
        margin: 0
        list-style: none
        &__item
            height: 50px
            border-radius: 30px 0 0 30px
            position: fixed
            right: -235px
            max-width: 285px
            width: 100%
            z-index: 30
            transition: .5s
            &:first-child
                background-color: $green
                top: 42%
                transform: translateY(-42%)
                & .right-block-list__link
                    &::before
                        content: ''
                        background: url(../img/document.png)
                        padding-right: 10px
                        width: 29px
                        height: 29px
                        position: absolute
            &:nth-child(2)
                background-color: $blue
                top: 50%
                transform: translateY(-50%)
                & .right-block-list__link
                    &::before
                        content: url(../img/pdf.png)
                        padding-right: 10px
            &:last-child
                background-color: $blue2
                top: 58%
                transform: translateY(-58%)
                & .right-block-list__link
                    &::before
                        content: ''
                        background: url(../img/car.png)
                        width: 31px
                        height: 23px
                        position: absolute
                        top: 15px
                        padding-right: 10px
            &:hover
                right: 0              
        &__link
            color: $white
            padding-top: 8px
            margin-left: 15px
            position: relative
        &__top
            text-transform: uppercase
            margin-left: 40px
        &__bottom
            margin-left: 40px 
        &__center
            position: relative
            top: -8px
#toTop
    bottom: 20px
    display: none
    font-size: 150%
    position: fixed
    right: 50px
    opacity: 1 !important
    z-index: 1000
    background: url(../img/arrow_up.png) no-repeat
    width: 50px
    height: 50px
    cursor: pointer
.footer
    border-top: 2px solid #dadada
    padding-top: 50px
    &-block
        &__title
            color: $blue
            text-transform: uppercase
            font-weight: normal
            margin: 0 0 20px
            font-size: 16px
    &-copy
        color #666666                                                                        