.header
    &-top
        background-color: $top-bg
        & .container
            display: flex
            align-items: center
            flex-wrap: wrap
            justify-content: space-between
        &__account
            text-transform: uppercase
            font-size: 14px
            color: $account
            &::before
                content: url(../img/account.png)
                margin-right: 8px
                display: inline-block
                vertical-align: middle
    &-bottom
        & .container
            display: flex
            flex-wrap: wrap
            justify-content: space-between
        &__logo
            font-weight: bold
            font-size: 41px
            &-left
                color: $blue
            &-right
                color: $green                    
.menu
    &-list
        margin: 0
        padding: 0
        list-style-type: none
        display: flex
        align-items: center
        min-height: 28px
        &__item
            margin: 0 15px
            &:first-child
                margin: 0 15px 0 0
        &__link
            font-size: 14px
            color: $menu-text
.search
    &-block
        &-title
            display: flex
            margin-bottom: 10px
            & svg
                color: $blue
            &__text
                color: $blue
                margin: 0 0 0 8px
                font-size: 16px
    &-form
        max-width: 270px
        position: relative
        &__input
            border: 1px solid $border
            border-radius: 2px
            height: 36px
            padding: 0 36px 0 10px
        & input::placeholder
            color: $search-text    
        &__button
            border: none
            border-radius: 0 2px 2px 0
            background-color: $blue
            position: absolute
            right: 0
            top: 0
            height: 36px
            width: 36px
            & svg
                color: $white
.phones-list
    &__title
        color: $search-text 
        display: block
        margin: 0 0 12px 10px
    &-block
        margin: 0
        padding: 8px 8px 13px 13px
        list-style: none
        width: 180px
        max-height: 32px
        overflow: hidden
        border-radius: 3px
        box-shadow: none
        transition: .5s
        &:hover
            max-height: none
            box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75)
        &__item
            margin-bottom: 10px
            position: relative
            &:first-child
                &::after
                    content: ''
                    position: absolute
                    top: 5px
                    right: 0
                    width: 0
                    height: 0
                    border-style: solid
                    border-width: 6px 6px 0 6px
                    border-color: $black transparent transparent transparent
                &::before
                    content: url(../img/phone.png)
                    position: absolute
                    top: 3px
                    left: 0
            &:nth-child(2),
            &:nth-child(3)
                &::before
                    content: url(../img/phone.png)
                    position: absolute
                    top: 3px
                    left: 0       
            &:nth-child(4)
                &::before
                    content: url(../img/vodafone.png)
                    position: absolute
                    top: 3px
                    left: 0       
            &:nth-child(5)
                &::before
                    content: url(../img/kyivstar.png)
                    position: absolute
                    top: 3px
                    left: 0       
            &:nth-child(6)
                &::before
                    content: url(../img/lifecell.png)
                    position: absolute
                    top: 3px
                    left: 0
            &:nth-child(7)
                .phones-list-block__link
                    color: $blue
                    font-size: 14px
                    text-align: right
                    padding-bottom: 10px
                    border-bottom: 1px solid $contact
                    text-transform: uppercase
                    position: relative
                    right: 20px
            &:nth-child(8)
                &::before
                    content: url(../img/clock.png) 
                    margin-right: 8px
                    vertical-align: middle  
            &:nth-child(8),
            &:nth-child(9),
            &:nth-child(10)
                color: $search-text
                font-size: 13px
                text-align: right
                position: relative
                right: 20px
                                          
        &__link
            color: $phone-list
            margin: 0 0 3px 25px
        &__city
            font-size: 13px
            color: $phone-city
            margin-left: 25px                                                                       