*,
*::before,
*::after
    box-sizing: border-box
    outline: none
body
   font-family: 'Proxima Nova', sans-serif
   font-size: 16px     
.container
    max-width: 1200px
    padding: 0 15px
    margin: auto  
img
    max-width: 100%
a
    text-decoration: none
    display: block
button
    cursor: pointer
input
    width: 100%    
.email
    color: $menu-text
    font-size: 14px
    display: flex
    align-items: center
    & svg
        margin-right: 8px
.telegram
    background-color: $telegram
    & svg
        color: $white
.viber
    background-color: $viber 
    & svg
        color: $white 
.burger
    position: absolute
    z-index: 20
    top: -11px
    right: -160px
    width: 30px
    height: 24px
    cursor: pointer
.top-line
    top: 2px
.center-line
    top: 9px
.bottom-line
    top: 16px    
.bottom-line, 
.center-line, 
.top-line
    background-color: #3e3e3e
    height: 2px
    width: 100%
    position: absolute
    border-radius: 6px
    transition: .3s
.burger-open .top-line
    transform: rotate(45deg)
    top: 10px
.burger-open .center-line
    opacity: 0
.burger-open .bottom-line
    transform: rotate(-45deg)
    top: 10px                                                        
// font-family: 'Proxima Nova'
// font-family: 'Rubik'
// font-family: 'Gotham Pro'