@media (max-width: 1170px)
    .menu
        &-list
            &__item
                margin: 0 8px
                &:first-child
                    margin: 0 8px 0 0
    .navbar
        &-list
            &__item
                &:nth-child(1)
                    &::after
                        right: 30px
                &:nth-child(2)
                    &::after
                        right: 20px                    
                &:nth-child(3)
                    &::after
                        right: 30px                    
                &:nth-child(4)
                    &::after
                        right: 20px                    
    // .header
    //     &-bottom
    //         &__logo
    //             font-size: 34px
@media (max-width: 1090px)
    .header
        &-top
            position: relative
            & .container
                justify-content: center
                min-height: 50px
            &__account
                margin-left: 50px
        // &-bottom
        //     &__logo
        //         position: absolute
        //         top: 0
        //         left: 15px
        //         font-size: 24px 
        &-bottom
            &__logo
                position: absolute
                top: 3px
                left: 15px
                & img
                    width: 190px
    .burger
        display: block                    
    .menu
        &-list
            display: none
            flex-direction: column
            position: absolute
            top: 0
            right: 0
            background-color: rgba(255,255,255, .9)
            z-index: 25
            width: 190px 
            &__item
                margin: 0
                padding: 15px 15px
                &:first-child
                    display: none
                &:nth-child(2)
                    padding: 50px 15px 15px                    
    .navbar
        & .container
            position: relative
        &-list
            &__item
                &:nth-child(1)
                    &::after
                        right: 20px
                &:nth-child(2)
                    &::after
                        right: 10px                    
                &:nth-child(3)
                    &::after
                        right: 20px                    
                &:nth-child(4)
                    &::after
                        right: 10px
@media (max-width: 1045px) 
    .nav-icon-1
        display: block
    .navbar
        &__text
            display: flex
            position: relative
            &::after
                content: ''
                background: url(../img/ar-down.png) no-repeat
                width: 11px
                height: 7px
                position: absolute
                right: 0
        &-list
            display: none
            &__item      
                width: 100%
                &:nth-child(1),
                &:nth-child(2),
                &:nth-child(3),
                &:nth-child(4)
                    &::after
                        display: none
            &__link
                width: 100%
@media (max-width: 900px)
    .buttons
        &-top
            position: absolute
            top: 12px
            right: 55px
        &-bottom
            display: none    
    .header
        &-top
            &__email,
            &__account
                display: none
            &__search
                display: block
                position: absolute
                top: 15px
                right: 230px
                & svg
                    color: $blue
        &-bottom
            & .container
                justify-content: center            
    .search-block
        display: none
    .phones-list
        margin: 0 10px
        top: -10px
@media (max-width: 500px)
    .header
        &-top 
            & .container
                min-height: 44px
            &__search
                top: 10px 
                right: 165px   
        &-bottom 
            & .container
                min-height: 68px
            &__logo
                & img
                    width: 150px        
    .buttons
        &-top
            top: 2px
            &-lang
                &-list
                    flex-direction: column
                    margin: 0 0 0 5px
                    &__item
                        &:first-child
                            margin-bottom: 2px
            &-social
                &__item
                    margin-right: 5px                    
    .burger
        top: 10px                                                                                                                            