@media (max-width: 1170px)
    .menu
        &-list
            &__item
                margin: 0 8px
                &:first-child
                    margin: 0 8px 0 0
    .header
        &-bottom
            &__logo
                font-size: 34px
@media (max-width: 1090px)
                                        