.info
    padding: 60px 0
    &__title
        margin: 0 0 20px
        text-align: center
    &-filter
        &__link
            font-size: 12px
            text-transform: uppercase
            color: $info   