.info
    padding: 60px 0
    &__title
        margin: 0 0 20px
        text-align: center
    &-filter
        display: flex
        justify-content: center
        &__link
            font-size: 12px
            text-transform: uppercase
            color: $info
            margin: 0 4px