.numbers
    &__title
        margin: 0 0 53px
    &-block
        &__number
            font-size: 48px
            color: $callback
            font-family: 'Gotham Pro', sans-serif
            font-weight: bold
            margin-bottom: 15px
        &__title
            text-transform: uppercase 
            color: $number
            margin: 0 0 15px 
            font-weight: 600  